# Environnement virtuel
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Variables sensibles
.env

# Base SQLite
db.sqlite3

# Fichiers média temporaires
media/

# VS Code
.vscode/

# Système
.DS_Store
Thumbs.db
staticfiles/